doctype html
html
  head
    title= title
    
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css")
    link(rel="stylesheet", href="/stylesheets/style.css")
  body
    block content
      h1.title Personal Budget