extends layout

append content
  if messages.success_msg
    ul.successMessage
      li= messages.success_msg
  if messages.error 
    ul.errorMessage
      li= messages.error
  .form
    h2 Login
    form(action="/users/login", method="post")
      div
        input#username(type="text", name="username", placeholder="Username", required)
      div
        input#password(type="password", name="password", placeholder="Password", required)
      div
        input(type="submit", value="Login")
      div 
        a(href="/users/register") Register 