extends layout

append content
  nav.menu
    a(href="/") Envelopes |
    a(href="/envelopes/new") New envelope |
    a(href="/transactions") Transactions |
    a(href="/transactions/new") New transaction
    a.logout(href="/users/logout") Logout